@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.tags {
  background-color: $white;
  color: $forestGreen;
  font-size: $heading_mobile-font-size;
  line-height: $heading_mobile-line-height;
  border: 2px solid $forestGreen;
  border-radius: 6px;
  padding: 6px 8px;
  margin: 6px;
  font-family: $outfit;

  &:hover {
    color: $white;
    background-color: $forestGreen;
  }

  @include tablet {
    padding: 8px 12px;
    border-radius: 12px;
  }

  &--active {
    color: $white;
    background-color: $forestGreen;
  }
}

.nonClickable {
  color: black;
  border: 1px solid $seaGreen;
}
