// @use "./src/styles/partials/_button.scss";
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.tags {
  box-sizing: content-box;
  background-color: $white;
  color: $forestGreen;
  border: 2px solid $forestGreen;
  border-radius: 6px;
  padding: 6px 8px;
  margin: 6px;

  &:hover {
    color: $white;
    background-color: $forestGreen;
  }

  @include body-style($font-size: 16px);
  @include tablet {
    padding: 8px 12px;
    border-readius: 12px;
  }

  &--active {
    color: $white;
    background-color: $forestGreen;
  }
}

.nonClickable {
  color: black;
  border: 1px solid $seaGreen;
}
