/* Type Kit */
// Fonts
@font-face {
  font-family: "Newsreader";
  src: url("./src/assets/fonts/Newsreader-Light.woff"),
    format("woff")
      url("./src/assets/fonts/Alternative Files/Newsreader-Light.woff2")
      format("woff2");
  font-weight: 100;
  font-style: "normal";
}

@font-face {
  font-family: "Newsreader";
  src: url("./src/assets/fonts/Newsreader-LightItalic.woff"),
    format("woff")
      url("./src/assets/fonts/Alternative Files/Newsreader-LightItalic.woff2")
      format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Newsreader";
  src: url("./src/assets/fonts/Newsreader-Regular.woff"),
    format("woff")
      url("./src/assets/fonts/Alternative Files/Newsreader-Regular.woff2")
      format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "outfit";
  src: url("./src/assets/fonts/Alternative Files/Outfit-Medium.woff2"),
    format("woff")
      url("./src/assets/fonts/Alternative Files/Outfit-Medium.woff2")
      format("woff2");
  font-weight: 500;
  font-style: "normal";
}

@font-face {
  font-family: "outfit";
  src: url("./src/assets/fonts/Outfit-Light.woff"),
    format("woff")
      url("./src/assets/fonts/Alternative Files/Outfit-Light.woff2")
      format("woff2");
  font-weight: 300;
  font-style: normal;
}

$newsReader: "Newsreader", sans-serif;
$newsReaderLight: "Newsreader", sans-serif;
$outfit: "outfit", sans-serif;

$FW-normal: 400;
$FW-light: 300;
$FW-500: 500;

//  Mobile Text Styles
// WordMark
$wordMark_mobile-font-size: 32px;
$wordMark_mobile-line-height: 32px;

$wordMark-font-size: 40px;
$wordMark-lineHeight: 40px;

// Title
$title_mobile-font-size: 26px;
$title_mobile-line-height: 38px;

$title-font-size: 52px;
$title-line-height: 66px;

// Heading
$heading_mobile-font-size: 18px;
$heading_mobile-line-height: 23px;

$heading-font-size: 24px;
$heading-line-height: 30px;

// Body
$body_mobile-font-size: 12px;
$body_mobile-line-height: 15px;

$body-font-size: 20px;
$body-line-height: 26px;

// SmallBody
$small-body_mobile-font-size: 10px;
$smallbody_mobile-line-height: 12px;

$small-body-font-size: 12px;
$small-body-line-height: 15px;

// SmallBody
$label_mobile-font-size: 12px;
$label_mobile-line-height: 15px;

$label-body-font-size: 12px;
$label-body-line-height: 15px;

// Colors
// Primary
$black: #0c1e1a;
$forestGreen: #1e6655;
$pistachio: #effaf7;

//Secondary
$seaGreen: #b7cec9;
$sage: #e4efec;
$white: #ffffff;

// gutters
$mobile-g: 16px;
$tablet-g: 24px;
$desktop-g: 24px;

// Margin
$mobile-OM: 16px;
$tablet-OM: 24px;

//Columns
$desktop-columns: 80px;
