/* Type Kit */
// Fonts
@font-face {
  font-family: "Newsreader-light";
  src: url("./src/assets/fonts/Newsreader-Light.woff"),
    format("woff")
      url("./src/assets/fonts/Alternative Files/Newsreader-Light.woff2")
      formtat("woff2");
  font-weight: "light";
  font-style: "normal";
}

@font-face {
  font-family: "Newsreader-lightItalic";
  src: url("./src/assets/fonts/Newsreader-LightItalic.woff"),
    format("woff")
      url("./src/assets/fonts/Alternative Files/Newsreader-LightItalic.woff2")
      formtat("woff2");
  font-weight: "light";
  font-style: "italic";
}

@font-face {
  font-family: "Newsreader-Regular";
  src: url("./src/assets/fonts/Newsreader-Regular.woff"),
    format("woff")
      url("./src/assets/fonts/Alternative Files/Newsreader-Regular.woff2")
      formtat("woff2");
  font-weight: 900;
  // font-style: "normal";
}

@font-face {
  font-family: "OutFit-medium";
  src: url("./src/assets/fonts/Alternative Files/Outfit-Medium.woff2"),
    format("woff")
      url("./src/assets/fonts/Alternative Files/Outfit-Medium.woff2")
      formtat("woff2");
  font-weight: "normal"; //is this normal or bold? style sheet looks to be bold
  font-style: "normal";
}

@font-face {
  font-family: "Outfit-light";
  src: url("./src/assets/fonts/Outfit-Light.woff"),
    format("woff")
      url("./src/assets/fonts/Alternative Files/Outfit-Light.woff2")
      formtat("woff2");
  font-weight: "light";
  font-style: "normal";
}

$newsReader-base: "Newsreader-Regular", sans-serif;
$newsReader-light: "Newsreader-light", sans-serif;
$newsReader-lightItalic: "Newsreader-lightItalic", sans-serif;
$outfit-medium: "outfit-medium", sans-serif;
$outfit-light: "Outfit-light", sans-serif;

$FW-normal: 400;
$FW-light: 300;
$FW-500: 500;

//  Mobile Text Styles
// WordMark
$wordMark_mobile-font-size: 32px;
$wordMark_mobile-line-height: 32px;
// $wordMark_mobile-font-weight: "regular";

$wordMark-font-size: 40px;
$wordMark-lineHeight: 40px;
// $wordMark_mobile-font-weight: "regular";

// Title
$title_mobile-font-size: 26px;
$title_mobile-line-height: 38px;
//FW light - 300
//normal or italic

$title-font-size: 52px;
$title-line-height: 66px;
//fw 300
//normal or italic

// Heading
$heading_mobile-font-size: 18px;
$heading_mobile-line-height: 23px;
//fw 500

$heading-font-size: 24px;
$heading-line-height: 30px;
//fw 500

// Body
$body_mobile-font-size: 12px;
$body_mobile-line-height: 15px;
//fw 500 or 300

$body-font-size: 20px;
$body-line-height: 26px;
//fw 500 or 300

// SmallBody
$small-body_mobile-font-size: 10px;
$smallbody_mobile-line-height: 12px;
//fw 500

$small-body-font-size: 12px;
$small-body-line-height: 15px;
//fw 500

// SmallBody
$label_mobile-font-size: 12px;
$label_mobile-line-height: 15px;
//fw 500

$label-body-font-size: 12px;
$label-body-line-height: 15px;
//fw 500

// Colors
// Primary
$black: #0c1e1a;
$forestGreen: #1e6655;
$pistachio: #effaf7;

//Secondary
$seaGreen: #b7cec9;
$sage: #e4efec;
$white: #ffffff;

// gutters
$mobile-g: 16px;
$tablet-g: 24px;
$desktop-g: 24px;

// Margin
$mobile-OM: 16px;
$tablet-OM: 24px;
// Desktop auto;

//Columns
$desktop-columns: 80px;
