@use "../../styles/partials/variables" as v;
@use "../../styles/partials/button";
@use "../../styles/partials/mixins" as *;

.introduction {
  //TODO: Do I have to adjust the font styling shere? The font-weight doesnt really change
  font-family: v.$newsReader-base;

  @include desktop {
    width: 50%;
  }

  &__mission {
    font-weight: lighter;
    @include tablet {
      font-size: v.$body-font-size;
      font-family: v.$newsReader-light;
    }
  }

  &__text {
    @include body-style(
      // $font-family: v.$newsReader-light,
      $font-family: v.$newsReader-light,
      $font-size: v.$heading-font-size,
      // $font-size: 32px,
      $line-height: v.$title_mobile-line-height
    );
    @include tablet {
      font-size: v.$wordMark-font-size;
      line-height: v.$title-line-height;
    }
  }

  &__text-italic {
    @include generalFontStyle(
      $font-family: v.$newsReader-lightItalic,
      $font-size: v.$heading-font-size,
      // $font-size: 32px,
      $line-height: v.$title_mobile-line-height
    );
    @include tablet {
      font-size: v.$wordMark-font-size;
      line-height: v.$title-line-height;
    }
  }
}
