@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.tags-wrapper {
  background-color: $sage;
  width: 100%;
  padding: 56px 16px;

  @include desktop {
    flex: 1;
    order: 2;
    width: 33%;
  }

  &--inactive {
    display: none;
  }
  &__title {
    font-size: $title_mobile-font-size;
    line-height: $title_mobile-line-height;
    padding-bottom: 36px;
    margin: 0;
    font-family: $outfit;
    font-weight: 500;
    @include tablet {
      font-size: $wordMark_mobile-font-size;
      line-height: $wordMark-lineHeight;
    }
  }
}
