@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;

  & card {
    margin: 8px;
  }
}
