@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100%;
  padding: 0 16px 48px 16px;

  &__link {
    width: 300px;
    height: 300px;
    // TODO: figure out how to remove the link styling...
    text-decoration: none;
    color: inherit;
    @include tablet {
      border-radius: 12px;
      width: 45%;
    }

    @include desktop {
      width: 27%;
      text-decoration: "none";
      color: "inherit";
      &__with-filters {
        width: 40%;
      }
    }
  }
}
