@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100%;
  padding: 0 16px 48px 16px;
}
