@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.comment {
  border-top: $seaGreen 2px solid;
  padding: 10px;

  &__data-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $forestGreen;
    font-size: 10px;
    line-height: 12px;
    font-weight: 500;
    @include tablet {
      font-size: 12px;
      line-height: 15px;
      font-weight: 500;
    }
  }
  &__body {
    font-size: 12px;
    line-height: 15px;
    font-weight: 500;
    @include tablet {
      font-size: 20px;
      line-height: 26px;
      font-weight: 500;
    }
  }
}
