@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;

html,
body {
  margin: 0;
  padding: 0;
  background-color: $pistachio;
  @include body-style;
  @include tablet {
    font-size: 20px;

    & > * {
    }
  }
  @include desktop {
  }
}

.App-Wrapper {
  @include desktop {
    display: flex;
  }
}

.Hero-Gallery-wrapper {
  @include desktop {
    flex: 2;
    order: 1;
  }
}
